@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Use OutputCache
    </h1>
    <br />
    <h4>
        @ViewBag.Data

    </h4>

    <br />
    <hr />

    <p>

        <a class="btn btn-primary" href="/Home/ClearAllCache">Clear Cache</a>
    </p>
</div>


